h1{
    color: white;
}

.hola{
    background-color: black;
}

body{
    background-image: url(block.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}